<div class="banner event-banner"><img src="~/assets/img/team-1.jpg" /></div>

<div class="eventDetail-buttons">
    <i class="fa-regular fa-heart"></i>
    @* <i class="fa-solid fa-heart"></i> *@

    <i class="fa-solid fa-share"></i>
</div>


<div class="about-event">
    <div class="about">
       <div class="about-navigation">
            <div class="about-nav">
                 <span>Tədbir haqqında</span>                                                                     
            </div>
            <div class="language-nav">
                  <span>Dil</span>   
            </div>
        </div>

          <div class="event-description">
              <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type 
                  specimen book. It has survived not only five centuries, but also the leap into
                  electronic typesetting, remaining essentially unchanged. It was popularised in 
                  the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                  and more recently with desktop publishing software like Aldus PageMaker including
                  versions of Lorem Ipsum.</span>
        </div>
    </div>
    <div class="event-img">
       <img src="~/assets/img/team-1.jpg" />
    </div>
</div>

<h1 class="similar">Similar events</h1>
<div class="Events Similar-events-container">
    <a asp-controller="event" asp-action="eventDetail" class="similar-events similar-events eventSlide">
        <div class=" testimonial-item text-center">
            <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
            <h5 class="mb-0">Client Name</h5>
            <p>Profession</p>
            <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
            </div>
        </div>
    </a>
    <a asp-controller="event" asp-action="eventDetail" class="similar-events eventSlide">
        <div class=" testimonial-item text-center">
            <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
            <h5 class="mb-0">Client Name</h5>
            <p>Profession</p>
            <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
            </div>
        </div>
    </a>
    <a asp-controller="event" asp-action="eventDetail" class="similar-events eventSlide">
        <div class=" testimonial-item text-center">
            <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
            <h5 class="mb-0">Client Name</h5>
            <p>Profession</p>
            <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
            </div>
        </div>
    </a>
    <a asp-controller="event" asp-action="eventDetail" class="similar-events eventSlide">
        <div class=" testimonial-item text-center">
            <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
            <h5 class="mb-0">Client Name</h5>
            <p>Profession</p>
            <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
            </div>
        </div>
    </a>
    <a asp-controller="event" asp-action="eventDetail" class="similar-events eventSlide">
        <div class=" testimonial-item text-center">
            <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
            <h5 class="mb-0">Client Name</h5>
            <p>Profession</p>
            <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
            </div>
        </div>
    </a>
    <a asp-controller="event" asp-action="eventDetail" class="similar-events eventSlide">
        <div class=" testimonial-item text-center">
            <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
            <h5 class="mb-0">Client Name</h5>
            <p>Profession</p>
            <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
            </div>
        </div>
    </a>
</div>
<div class="Events" id="eventContainer">
    <!-- Event slides will be dynamically controlled -->
</div>
