@model CurrenLanguageViewModel


<div class="nav-item dropdown d-flex">
    <div class="currentLangFlag"><img class="flag" src="~/assets/img/@Model.SelectedLanguage?.ImageUrl" alt="">@Model.SelectedLanguage?.Name</div>
    <a data-mdb-dropdown-init class="dropdown-toggle" href="#" id="Dropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
        <i class="flag-united-kingdom flag m-0"></i>
    </a>

    
<ul class="dropdown-menu mt-4" aria-labelledby="Dropdown">
    @foreach (var item in Model.Languages??[])
    {
        <li>
            <a class="dropdown-item" asp-controller="Localizer" asp-action="ChangeCulture" asp-route-culture="@item.IsoCode"><img class="flag" src="~/assets/img/@item.ImageUrl" alt="">@item.Name</a>
        </li>
    }

    <li><hr class="dropdown-divider" /></li>

</ul>
</div>
